{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#members}} <!--데이터 묶음인 경우 내부 코드 반복 -->
    <tr>
        <th scope="row"><a href="/members/{{id}}">{{email}}</th>
        <td>{{password}}</td>
    </tr>
    {{/members}}
    </tbody>

</table>
{{>layouts/footer}}