{{>layouts/header}}
<table class="table">

    <a href="/articles/new">New Article</a> <!-- href = "url" -->
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} <!--데이터 묶음인 경우 내부 코드 반복 -->
    <tr>
        <th scope="row">{{id}}</th>
        <td><a href="/articles/{{id}}">{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/articleList}}
    </tbody>

</table>
{{>layouts/footer}}